In [9]:
import pandas as pd

filename = 'chicago.csv'

# load data file into a dataframe
df = pd.read_csv('C:/Users/Vinay/Tutorials/Udacity/Nanodegree/Machine Learning Foundation/1.Introduction to Programming/Project/Practice Problem 1/chicago.csv')

In [18]:
CITY_DATA = { 'chicago': 'chicago.csv',
              'new york city': 'new_york_city.csv',
              'washington': 'washington.csv' }

def load_data(city, month, day):
    """
    Loads data for the specified city and filters by month and day if applicable.

    Args:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    Returns:
        df - pandas DataFrame containing city data filtered by month and day
    """
    
    # load data file into a dataframe
    df = pd.read_csv('C:/Users/Vinay/Tutorials/Udacity/Nanodegree/Machine Learning Foundation/1.Introduction to Programming/Project/Practice Problem 1/' + CITY_DATA[city])

    # convert the Start Time column to datetime
    df['Start Time'] = pd.to_datetime(df['Start Time'])

    # extract month and day of week from Start Time to create new columns
    df['month'] = df['Start Time'].dt.month
    df['day_of_week'] = df['Start Time'].dt.weekday_name


    # filter by month if applicable
    if month != 'all':
        # use the index of the months list to get the corresponding int
        months = ['january', 'february', 'march', 'april', 'may', 'june']
        month = months.index(month) + 1
    
        # filter by month to create the new dataframe
        df = df[df['month'] == month]

    # filter by day of week if applicable
    if day != 'all':
        # filter by day of week to create the new dataframe
        df = df[df['day_of_week'] == day.title()]
    
    return df

In [20]:
df = load_data('chicago', 'march', 'friday')
print(df)

             Start Time             End Time  Trip Duration  \
40  2017-03-24 13:06:37  2017-03-24 13:10:44            247
59  2017-03-03 07:55:48  2017-03-03 07:57:41            113
68  2017-03-17 12:14:50  2017-03-17 12:22:38            468
75  2017-03-10 13:40:54  2017-03-10 13:45:09            255
83  2017-03-24 14:15:43  2017-03-24 14:27:04            681
126 2017-03-24 12:39:19  2017-03-24 12:52:11            772
224 2017-03-31 19:11:12  2017-03-31 19:18:53            461
247 2017-03-10 08:21:05  2017-03-10 08:23:28            143
290 2017-03-24 10:55:53  2017-03-24 11:01:27            334
343 2017-03-17 17:51:31  2017-03-17 18:00:16            525
348 2017-03-31 07:47:14  2017-03-31 07:55:38            504

                   Start Station                End Station   User Type  \
40         Broadway & Berwyn Ave      Clark St & Berwyn Ave  Subscriber
59        Clark St & Chicago Ave        Wells St & Huron St  Subscriber
68   Dearborn Pkwy & Delaware Pl     State St & Randolph St  Subscriber
75            Clark St & Lake St       Rush St & Hubbard St  Subscriber
83    Sheridan Rd & Lawrence Ave   Broadway & Thorndale Ave  Subscriber
126        Michigan Ave & Oak St  Cannon Dr & Fullerton Ave  Subscriber
224      Damen Ave & Cortland St     Damen Ave & Pierce Ave  Subscriber
247      Damen Ave & Division St  Ashland Ave & Division St  Subscriber
290    Wacker Dr & Washington St  LaSalle St & Jackson Blvd  Subscriber
343    Milwaukee Ave & Grand Ave      State St & Pearson St  Subscriber
348        Canal St & Madison St      Wabash Ave & Adams St  Subscriber

     Gender  Birth Year  month day_of_week
40   Female      1961.0      3      Friday
59     Male      1981.0      3      Friday
68   Female      1984.0      3      Friday
75   Female      1983.0      3      Friday
83     Male      1984.0      3      Friday
126    Male      1993.0      3      Friday
224    Male      1989.0      3      Friday
247    Male      1991.0      3      Friday
290    Male      1961.0      3      Friday
343    Male      1989.0      3      Friday
348    Male      1953.0      3      Friday